{{> header}}
{{> nav}}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Rate Updations</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <table class="product_detail_table table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Sno.</th>
                        <th>Rate Change Date</th>
                        <th>&nbsp;</th>
                    </tr>      
                </thead>  
                <tbody>
                    {{#each rateupdates as |value key|}}
                    <tr>
                        <td>{{sum @index 1}}</td>
                        <td>{{value.ratechangedate}}</td>
                        <td><a href="/rateupdation/{{value._id}}">Edit</a></td>
                    </tr>
                    {{/each}}    
                </tbody>
                <tfoot>
                    <tr>
                         <th>Sno.</th>
                        <th>Rate Change Date</th>
                        <th>&nbsp;</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
{{> footer}}