{{> header}}
{{> nav}}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Change Password Settings</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        {{#if err}}
        <div class="alert alert-danger">
            <strong>{{err}}</strong>
        </div>
        {{/if}}

        {{#if errors}}
        <div class="alert alert-danger">
            <strong>{{errors}}</strong>
        </div>
        {{/if}}
        <div class="">
                {{#if message}}
                    {{#equal message 1}}
                        <div class="alert alert-success">
                            <strong>Password Changed Successfully</strong>
                        </div>
                    {{/equal}}
                {{/if}}
            </div>
        <div class="alert alert-success settingsuccess" style="display:none;">
            <strong></strong>
        </div>
        <div class="alert alert-danger settingfailed" style="display:none;">
            <strong></strong>
        </div>
        <form method="POST" action="/settings/passwordsetting" id="changepassword_submit">
            <div id="form-group">
                <label>Old Password:</label>
                <input type="hidden" name="phonenumber" value="{{phonenumber}}" class="phonenumber"/>
                <input class="form-control oldpassword" name="oldpassword" type="password" value=""/>
                <span class="form_error">Please Enter Your Old Password</span>
            </div>
            <div id="form-group">
                <label>New Password:</label>
                <input class="form-control newpassword" name="newpassword" type="password" value=""/>
                <span class="form_error">Please Enter Your New Password</span>
                <p class="form_error passlengtherror" style="display:none; color: #f90e0e;">New Password Should be Greater then 6 Character</p>
            </div>
            <br>
            <input class="btn btn-primary changepasswordsubmit" type="submit" value="Submit"/>
        </form>
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
{{> footer}}
  </body>
</html>

